.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#about {
  width: 100vw;
}

.header {
  display: flex;
  align-items: center;
  background: transparent;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: rgb(170, 170, 170, 0.5);
  transition: top 0.3s;
  height: 80px;
}

.header-icon {
  font-size: 20px;
  font-weight: 700;
}

.principal {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  height: 60vh;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  background-image: url("assets/principal.jpg");
  background-size: cover; /* Ajusta el tamaño de la imagen al tamaño del elemento */
  background-position: center; /* Centra la imagen en el elemento */
  transform: scale(1);
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  border-radius: 0 0 30% 30%;
  position: relative; /* Agrega esta línea para posicionar elementos secundarios */
}

.principal-h1 {
  text-align: center;
  font-size: 60px;
  color: rgb(134, 6, 6);
  font-weight: 800;
  font-family: "DM Serif Display, serif";
}

.principal-p {
  text-align: center;
  color: black;
  width: 50%;
  font-size: 20px;
  margin-top: 10px;
}

#products {
  margin-top: 20px;
}

.float-button {
  border: 1px solid green;
  background-color: green;
  color: white;
}

.footer {
  background-color: rgb(218, 191, 155);
}

@media (max-width: 767px) {
  .header {
    width: 100vw;
    background-color: rgb(170, 170, 170);
    height: 25px;
  }

  .header-icon {
    font-size: 17px;
    font-weight: 700;
  }

  .principal {
    height: 30vh;
    width: 100vw;
  }

  .principal-h1 {
    font-size: 35px;
  }
  .principal-p {
    width: 80vw;
    font-size: 14px;
    margin-top: 10px;
  }
  #products {
    width: 100vw;
  }

  #about {
    width: 100vw;
  }
  .footer {
    width: 100vw;
  }
}
