#root {
  margin: 0 auto;
  text-align: center;
}

.title-productlist {
  margin-bottom: 20px;
  font-family: "DM Serif Display, Lobster Two, sans-serif";
  font-weight: 500;
  font-size: 70px;
}

.paragraph-productlist {
  margin-bottom: 20px;
  font-family: "DM Serif Display, Lobster Two, sans-serif";
  font-weight: 300;
  font-size: 16px;
}

/* .content {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 20px;
  align-items: flex-start;
  justify-content: center;
} */

.product {
  width: 100%;
  height: auto;
  color: black;
  background-color: #ffffff;
}

.product-img {
  height: 250px;
  width: 230px;
  display: flex;
  justify-content: center; /* Centra verticalmente */
  align-items: center; /* Centra verticalmente */
  padding: 0;
  margin: 0;
  object-fit: cover;
  border-radius: 30px;
}

.product-model {
  padding: 0;
  margin: 5px 0;
  font-weight: 600;
  font-size: 15px;
}

.product-price {
  padding: 0;
  margin-bottom: 5px;
  font-weight: 600;
  color: rgb(134, 6, 6);
}

.product-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

@media (max-width: 767px) {
  .title-productlist {
    font-size: 30px;
    margin-bottom: 10px;
  }
  .paragraph-productlist {
    font-size: 14px;
  }
  .product-list {
    grid-template-columns: 1fr;
  }
  .product {
    width: 100vw;
    height: auto;
    color: black;
    background-color: #ffffff;
  }
  .product-img {
    height: 50vw;
    width: 100vw;
  }
}
